.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  overflow: hidden;
}

.depoimento img {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  object-fit: cover;
}

.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
}

.depoimento-conteudo p {
  max-width: 32ch;
  font-family: "Merriweather", sans-serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}

.depoimento p::before,
.depoimento p::after {
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}

.depoimento p::before {
  content: "“";
  left: -60px;
  top: -20px;
}

.depoimento p::after {
  content: "”";
}

@media (min-width: 1200px) {
  .depoimento img {
    max-height: 520px;
  }
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
  }
  .depoimento img {
    max-height: 200px;
  }
  .depoimento-conteudo {
    padding: 40px 20px;
    justify-self: center;
  }
}
